# Google Cloud Platform
GCP_PROJECT_ID=ton-project-id
GCP_BUCKET_NAME=ton-bucket-name
GOOGLE_APPLICATION_CREDENTIALS=chemin/vers/ta/cle.json

# Pipeline config
ORDERS_PER_DAY=1000
RAW_LAYER_PREFIX=raw/orders
CLEAN_LAYER_PREFIX=clean/orders